# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci-cd

on:
  push:
    branches: [ "main" ]
    paths-ignore:
     - README.md
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
 AZURE_RG: github-actions-staged
 AZURE_SUBSCRIPTION: f2214158-e53d-4a65-abc0-9faccc3b3127
 AZURE_LOCATION: WestEurope

jobs:
  build-job:
    runs-on: ubuntu-latest
    env:
     configuration: release

    steps:
    - name: Checkout Sources
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration ${{ env.configuration }}
    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration ${{ env.configuration }}
    - name: Publish
      run: dotnet publish --configuration ${{ env.configuration }} --output ${{ runner.temp}}/publish
    - name: Upload to Publish artifact
      uses: actions/upload-artifact@v3.0.0
      with: 
        name: publish_artifact
        path: ${{ runner.temp }}/publish
        retention-days: 30
    - name: Upload a Templates Artifact
      uses: actions/upload-artifact@v3.0.0
      with:
        name: templates_artifact
        path: ./templates/* 
        retention-days: 30
        
  RG-Job:
   runs-on: ubuntu-latest
   needs: [build-job]
   steps:
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Create Resource Group
      uses: Azure/cli@v1
      with:
          inlineScript: 
            az group create --name ${{ env.AZURE_RG }} --location ${{ env.AZURE-LOCATION }}


  
